<div class="mt-4">
    <h3>My courses</h3>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created Date</th>
            <th scope="col" colspan="3">Updated Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit">Edit</a>
                    </td>
                    <td>
                        <a href="">Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>